/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.anchorPane{
	
    -fx-background-color: #f4efeb;
}

.transparent{
    -fx-background-color: rgba(0, 0, 0,0);
}

.shadow{
	-fx-effect: dropShadow(three-pass-box, rgba(0, 0, 0, 0.1), 10.0, 0.0, 0.0, 10.0);
}


.search-box{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 100;
}

.search-button{
    -fx-background-color: #567786;
    -fx-background-radius: 30;
    -fx-text-fill: white;
    
}


.search-button:hover{
    -fx-background-color: #24244E;
    
}

.right-bar{
	-fx-background-color: linear-gradient(to bottom, #2f4157, #779eba, #c7d9e5);
}

.chosen-data-card{
	-fx-background-color: linear-gradient(to bottom, #2f4157, #26405c, #779eba);
    -fx-background-radius: 30;
    
}

.data-item{
    -fx-background-color: #364a60; 
    -fx-background-radius: 30;
    -fx-text-fill: black;
   
}

.data-item:hover {
    -fx-background-color: #59879f;  
    -fx-effect: dropshadow(gaussian, #FFFFFF, 10, 0.5, 0, 0); 
}

.selected-item{
	-fx-background-color: #59879f; 
	
}

.scroll-pane .corner{
    -fx-background-color: rgba(0, 0, 0,0);
}
.scroll-pane .scroll-bar:vertical, .scroll-bar:horizontal {
    -fx-background-color: #ebe0df;
    -fx-background-radius: 10px;
}


.scroll-pane .scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button,
.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button{
    -fx-padding: 7px;
    
}

.scroll-pane .scroll-bar:vertical .increment-button:hover,
.scroll-bar:vertical .increment-button:pressed,
.scroll-bar:vertical .decrement-button:hover,
.scroll-bar:vertical .decrement-button:pressed, 
.scroll-bar:horizontal .increment-button:hover,
.scroll-bar:horizontal .increment-button:pressed,
.scroll-bar:horizontal .decrement-button:hover,
.scroll-bar:horizontal .decrement-button:pressed {
    -fx-background-color: rgba(0, 0, 0, 0);
}

.scroll-pane .scroll-bar:vertical .increment-button .increment-arrow,
.scroll-bar:horizontal .increment-button .increment-arrow{
    -fx-background-color: #24244E;
}

.scroll-pane .scroll-bar:vertical .decrement-button .decrement-arrow{
    
    -fx-background-color: #24244E;
    
}

.scroll-pane .scroll-bar:vertical .thumb, .scroll-bar:horizontal .thumb {
    -fx-background-color: #567786;
    -fx-background-radius: 5px;
}


.scroll-pane .scroll-bar:vertical .track , .scroll-bar:horizontal .track {
    -fx-background-color: #ebe0df; 
}


.scroll-pane .scroll-bar .thumb:pressed, .scroll-pane .scroll-bar .thumb:hover {
    -fx-background-color: #24244E;
}


.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-pane .content {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.selected-page {
    -fx-background-color: #24244E;
    -fx-text-fill: white;
  
    -fx-font-weight: bold;
    -fx-border-radius: 5px;
    -fx-padding: 5 10;
}


.page {
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-border-radius: 5px;
    -fx-padding: 5 10;
    -fx-border-color: #cfcfea;  
    -fx-border-width: 1px;      
    -fx-border-style: solid;    
}


.page:hover {
    -fx-background-color: #24244E;
    
    -fx-text-fill: white;
	-fx-font-weight: bold;
    -fx-border-radius: 5px;
    -fx-padding: 5 10;

    -fx-border-color: #24244E;  
    -fx-border-width: 1px;      
    -fx-border-style: solid;    
}
.ellipsis {
    -fx-text-fill: gray;
    -fx-font-size: 14px;
}


